.pick-date {
  width: 90px;
  text-align: center;
}

.date-arrow {
  background-color: white;
  border: 1px solid rgb(118, 118, 118);
  cursor: pointer;
  height: 21px;

  &:focus {
    outline: #acd5e0 solid 1px;
    outline-offset: -2px;
  }

}