.pick-date {
  text-align: center;
  width: 98px;
  height: 19px;
  border-radius: 0;
}

.date__container {
  width: 150px;
  display: flex;
align-items: flex-end;
}

.date-arrow {
  background-color: white;
  border: 1px solid rgb(118, 118, 118);
  cursor: pointer;
  height: 21px;

  &:focus {
    outline: #acd5e0 solid 1px;
    outline-offset: -2px;
  }

}