.pick-date {
  text-align: center;
  width: 80px;
  height: 21px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.46);
  border: none;

  &:focus {
    outline: #acd5e0 solid 1px;
    outline-offset: -2px;
    border-radius: 5px;
  }
}

.date__container {
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.date-arrow {
  background-color: white;
  cursor: pointer;
  height: 23px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.46);

  &:focus {
    outline: #acd5e0 solid 1px;
    outline-offset: -2px;
  }
}