.container-main {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

main {
  background-color: #fafafa;
  flex-grow: 2;
}

link {
  text-decoration: none;
  color: black;
}
.app-header {
  position: relative;
  //background-image: url("./Logo.png");
  display: flex;
  align-items: center;
  justify-content: space-between;
overflow: hidden;
  height: 50px;
}


.container-grid {
  display: flex;
  height: calc(100vh - 44px);
  //display: grid;
  //grid-template-columns: 190px auto;
  //grid-gap: 0;
}