.notes__list {
  display: grid;
  grid-template-columns: 90%;
  grid-gap: 2rem;
  justify-content: space-around;
  padding-bottom: 120px;

  @media (min-width: 600px) {
    padding-bottom: 15px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 50% 50%;
    padding: 0 30px;
  }

  @media (min-width: 1200px) {
  }
}

.note__ {
  &card {
    padding: 10px;
    padding-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.7em;
    height: 100px;
    overflow: hidden;
    margin: 0;
    box-shadow: 1px 1px 1px #b6b6b6, 3px 3px 5px #b3b3b3, 0 0 2px #b3b3b3;
    background-color: #e6f3fd;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #474747;
    text-decoration: none;
  }

  &smalltxt {
    color: #b6b6b6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
  }

  &title {
    font-size: 20px;
  }

  &content {
    font-size: 16px;
    width: 90%;
  }
}

.no-notes__info {
  margin: 50px 15px;
  text-align: center;
  color: #474747;

  @media (min-width: 600px) {
    margin: 100px;
  }
}

.button-add {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 80px;
  margin: 0;
  padding: 0;
  font-size: 14px;

  & span {
    display: block;
    font-size: 40px;
    padding-top: 15px;
  }
}

