.pick-cycle {
  height: 21px;
  width: 150px;

  &:focus {
    outline: #acd5e0 solid 1px;
    outline-offset: -2px;
  }
}

.phase__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}